
body {
  font-family: 'Poppins', sans-serif;
  color: rgba(52, 69, 99, 1);
  margin: 12px;
}

.logo {
  display: flex;
  justify-content: space-between;
  color: rgba(127, 140, 255, 1);
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-left: 0%;
}

.job-description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 1px;
  text-align: left;
}

.connect {
  color: rgba(127, 140, 255, 1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  padding: 114px, 24px, 114px, 24px;
}

.greeting {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  size: 40px;
  width: 700;
  text-align: left;
  font-size: 3rem;
  line-height: 52px;
  padding-top: 114px;
}

ul {
  list-style-type: none;
}

.job-describe {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 400;
}

.Social-Media {
  font-family: 'Poppins', sans-serif;
  width: hug(117px);
  height: hug(24px);
}

.social-media-link {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: last baseline;
  width: 170.1666717529297px;
  height: 20.000062942504883px;
}

#hero {
  background-image: url(img/bg.svg);
  background-repeat: no-repeat;
}

#logo {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

section {
  padding: 114px, 24px, 114px, 24px;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
}

.subheading {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  line-height: 16px;
  gap: 25px;
  padding-left: 10px;
}

#z {
  color: rgba(122, 134, 154, 1);
  list-style-type: disc;
}

#S-block {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 10px;
}

.button {
  border-radius: 10px;
  display: inline-block;
  border: 1px solid rgba(96, 112, 255, 1);
  padding: 12px;
  padding-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgba(96, 112, 255, 1);
}

.button:hover {
  background-color: rgba(96, 112, 255, 1);
  color: rgb(235, 245, 253);
}

.tags {
  display: flex;
  font-size: 12px;
  color: rgba(96, 112, 255, 1);
  gap: 25px;
  padding-bottom: 12px;
  padding-left: 10px;
  font-weight: 500;
}

#s {
  padding-top: 40px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.S-section {
  font-family: 'Poppins', sans-serif;
  border: 1px rgba(223, 225, 230, 1);
  padding-block: 120px;
}

.Ss {
  padding-block: 40px;
}

.f-section {
  border: 1px rgb(17, 77, 231);
  border-radius: 10px;
}

.box {
  border: 1px solid  rgba(223, 225, 230, 1);
  border-radius: 10px;
  padding-bottom: 30px;
}

.Avail {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  line-height: 16px;
  gap: 25px;
}

#last {
  color: #172b4d;
  font-size: 2rem;
}

#Ll {
  color: rgba(127, 140, 255, 1);
}

#resume {
  color: rgba(57, 109, 242, 1);
  border: 1px solid rgba(127, 140, 255, 1);
  display: inline-block;
  border-radius: 10px;
  padding: 12px;
}

footer {
  display: flex;
  align-items: center;
  align-content: space-between;
  column-gap: 40px;
}

#tabs {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

.lang {
  font-weight: 550;
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
}

.about {
  font-size: 2.2rem;
  color: rgba(23, 43, 77, 1);
}

.languages {
  padding-left: 10px;
  flex-direction: row;
  display: flex;
  gap: 30px;
  font-weight: 550;
  padding-bottom: 15px;
  font-size: 15px;
}
